#
# ignore all files and then exclude each directory and file individually
/*
!.gitignore
!.dockerignore
!*.Dockerfile
!Jenkinsfile
!sonar-project.properties
!CHANGELOG.md
!README.md
!k8s
!*.yml
!*.yaml
!ansible.cfg
!env_variables
!hosts
!artifacts
!templates
# Exclude some patterns
/**/.*
!.gitignore
!.dockerignore

